body {
    background: black;
    margin: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#session_info {
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 1px solid #73AD21;
}

#container {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 45%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    background: orange;
  }