body {
    background: black;
    margin: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
  }

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: 2px solid blue;
  border-radius: 10px;
  box-shadow: 0 3px #999;
}

.button:hover {background-color: #bfd0d1}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

#session_info {
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 1px solid #73AD21;
}

/* #container {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 45%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    background: orange;
  } */
#container {
    height: 6%;
    width: 3%;
    position: absolute;
    top: 48%;
    left: 48%;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;
}